#################
## Eclipse
#################

*.tmp
*.bak
*.swp
bin/
tmp/
obj/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#########################################################################
# PROJECT IGNORES
#########################################################################
VisualBinary.depend
